

$header-one-bg-color:black;
$default-card-padding:10px;


$header-two-bg-color:#D3CFFC;



$button-one-bg-color:#7AA93C;
$button-two-bg-color:#3A53F1;
$button-border-radius:50px;
$button-three-bg-color:#8D2EFA;
$default-button-padding:10px


